* {
  background-color: rgb(61, 61, 61);
  color: white;
  justify-content: center;
}

.App {
  text-align: center;
  margin: 15px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.NavBar h1 {
  background-color: rgba(25, 125, 205, 0.5);
  text-align: center;
  line-height: 4rem;
}
